*{padding: 0; margin: 0; box-sizing: border-box; color: #222;}
img{max-width: 100%;}


#cont-menu{
    width: 100%;
    display: flex;
}


#menu-mobile{position: fixed; width: 180px; height: 100%; background: #444; padding: 4% 3%; right: -200px; z-index: 98; box-shadow: -10px 0 20px rgba(0,0,0,.5);}
#menu-mobile nav{width: 100%; margin-top: 30px; border-top: 1px solid rgba(255,255,255,1);}
#menu-mobile nav ul{list-style: none;}
#menu-mobile nav ul li a{transition: .2s; padding: 10px 0 3px 3px; text-decoration: none; color: #FFF; display: block; width: 100%; font-size: 20px; box-shadow: inset 0 -2px 0 rgba(62,173,220,.8);}
#menu-mobile nav ul li a:hover{box-shadow: inset 0 -35px 0 rgba(62,173,220,.2); color: rgba(62,173,220,1);}

.show-menu{
    right: 0 !important;
}


.move-button{
    z-index: 99;
    position: fixed;
    right: 5px;
    top: 10px;
}

#cont-menu #container{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

header{
    width: 100%;
    padding: 10px 5px;
    background: #CCC;
    display: flex;
    justify-content: space-around;
    flex-wrap:;
}

header div{width: 100%; display: flex;}
header>div>#logo{width: 70%; margin-bottom: 10px; cursor: default;}
header>div>#logo>div{display: flex; flex-wrap: wrap}
header>div>#logo>img{width: 100px; height: 65px;}
header>div>#logo>div>h1{font-size: 30px;}
header>div>#logo>div>h2{color: #555; font-size: 18px;}
.b-menu{font-size: 25px; padding: 6px 5px 5px 5px; float: right; height: 25px; margin: 0 5px}


#banner{background-image: url(../images/banner.jpg); width: 100%; height: 24vh; background-size: 100% 24vh;}
#banner>div{width: 100%; height: 100%; transition: .5s; color: transparent; font-size: 45px; padding: 20px 5px; cursor: default;}
#banner>div:hover{background-color: rgba(0,0,0,.5); color: white;}


.sec-home{margin: 0 10px;}
.sec-home>div{padding: 10px; background: #EEE; border: 1px solid #AAA; margin: 10px 0;}
.sec-home>div>a{width: 100%; height: 100%; display: block; padding: 10px 0;}


.sec-home div img{}

footer{width: 100%; height: 5vh; display: flex; justify-content: center; align-items: center; border-top: 1px solid #AAA; margin: 0 10px;}